@media (max-width: 768px) {

  header {
    padding: 2rem 1rem 4rem;
    text-align: center;
  }

  h1 {
    position: static;
    transform: none;
    font-size: 3rem;
    margin-top: 3rem;
  }

  .between {
    font-size: 1.5rem;
  }

  .again,
  .between {
    position: static;
    margin: 1.5rem auto;
    display: block;
  }

  .number {
    margin-bottom: 2rem;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    /* margin: 2rem auto; */
  }

  main {
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 1rem;
  }

  .left,
  .right {
    width: 100%;
  }

  .guess {

    margin-top: 2rem;
    width: 100%;
    max-width: 12rem;
    font-size: 3rem;
  }

  .right {
    font-size: 1.3rem;
    text-align: center;
  }

  .message {
    margin-bottom: 1rem;
  }

  .btn {
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
  }
}