@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f08df0;
  color: #00ffff;
  font-family: Bungee;
}


/* header section */
header {
  position: relative;
  height: 40vh;
  border-bottom: 7px solid #00ffff;
}

h1 {
  position: absolute;
  font-size: 3.5rem;
  top: 50%;
  left: 50%;
  /* border: 2px solid black; */
  transform: translate(-50%, -50%);
}

.between {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.btn {
  background-color: #ff00ff;
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1rem 3rem;
  color: #00ffff;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease-in-out;

}

.btn:hover {
  background-color: #00ffff;
  color: #ff00ff;
  box-shadow: 0 0 20px #00ffff;
  transform: translateY(-2px) scale(1.05);
}

.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.number {
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: #00ffff;
  padding: 1rem 0rem;
  width: 12rem;
  text-align: center;
  color: #ff00ff;
  font-size: 5rem;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px #00ffff, inset 0 0 10px #ff00ff;
  border: 2px solid #ffffff;
}


h1,
.message,
.between,
.guess,
.label-score,
.label-highscore {
  text-shadow: 2px 2px 0px #ff00ff;
}

/* main section */
main {
  height: 65vh;
  color: #00ffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.7rem;
}

.guess {
  font-family: inherit;
  background: none;
  border: 4px solid #00ffff;
  width: 15rem;
  color: inherit;
  font-size: 5rem;
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
}

.message {
  margin-bottom: 4rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}

/* media query for smaller screen */

@media (max-width:600px) {
  main {
    flex-direction: column;
    gap: 1rem;
  }

  h1 {
    text-align: center;
    font-size: 2.1em;
    top: 45%;
    width: 100%;
  }

  .number {
    padding: 0.4rem 5rem;
  }

  .right {
    font-size: 1.4rem;
  }

  .guess {
    margin-top: 4rem;
    width: 8rem;
  }

  .between {
    font-size: 1.2rem;
    right: 1rem;
  }

  .again {
    left: 1rem;
  }

  .btn {
    font-size: 1.2rem;
    padding: 1rem;
  }
}