* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: rgb(152, 216, 255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

header {
  margin: 50px;
  text-align: center;
  /* border: 2px solid black; */
}

main {
  border: 2px solid #badaf9;
  padding: 2rem;
  /* for mobile responsive */
  width: min(50rem, 95vw);
  background-color: white;
  border-radius: 16px;
}

.inputbar {
  display: flex;
  align-items: center;
  background: #e9e9e9;
  border-radius: 30px;
  padding: 2px 0;
  gap: 6px;
}

.user-input {
  outline: none;
  border: none;
  background: transparent;
  border-radius: 25px;
  flex: 1;
  font-size: 18px;
  padding: 14px 15px;
}

.user-input:focus {
  outline: 3px solid #3fb8dd;
}

.user-input::placeholder {
  color: #000000;
}

.addBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: #6ec5e0;
  color: white;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.addBtn:hover {
  background: #226c82;
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

ul {
  margin-top: 20px;
  padding: 10px;
  list-style-type: none;
  /* border: 2px solid black; */
}

.item {
  border: 2px solid #badaf9;
  border-radius: 16px;
  padding: 15px;
  margin: 8px;
  font-size: 20px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

}

.task {
  display: flex;
}

.task p {
  margin-left: 10px;
}

.icons img {
  margin: 0 10px;
  cursor: pointer;
  width: 30px;
}

.icons img:hover {
  box-shadow: 0 0 1rem #226c82;
}

.item:hover {
  background-color: #badaf9;
}

.completed .list-item {
  text-decoration: line-through;
}

@media (max-width: 600px) {
  main {
    padding: 1.2rem;
  }
}